@model DomainModel.Entity.Document

@{
    ViewBag.Title = "Информация о документе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Дополнительная информация о документе</h2>

<fieldset>
    <legend>
        @Model.Title
    </legend>

    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
           

        <dt>Заголовок</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>


        <dt>Тип</dt>
        <dd> @Html.DisplayFor(model => model.Type)</dd>


        <dt>Автор</dt>
        <dd>@Html.DisplayFor(model => model.Author)</dd>


        <dt>Дата создания</dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)</dd>


        <dt>Размер файла</dt>
        <dd>@Html.DisplayFor(model => model.FileSize)</dd>


        <dt>Расширение</dt>
        <dd>@Html.DisplayFor(model => model.Extension)</dd>


        <dt>Формат дакумента</dt>
        <dd>@Html.DisplayFor(model => model.Format)</dd>

        <dd>
            @Html.ActionLink("Скачать", "DownloadFile", "Doc", new { id = Model.ID }, 
                new { @class="pull-right btn btn-primary" })
        </dd>
    </dl>
</fieldset>

