@model DomainModel.Entity.Document

@{
    ViewBag.Title = @Model.ShortTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Description {
    @if (!@Model.Annotation.Equals("Отсутствует")){
    <meta name="description" content="@Model.Annotation"/>
    }else{<meta name="description" content="@Model.Keywords"/>}
}
@section Keywords {
    <meta name="keywords" content="@Model.Keywords" />
}
@section Author {
    <meta name="author" content="@Model.Author"/>
}

<h2>Дополнительная информация о документе</h2>

<fieldset>
    <legend>
        "@Model.FullTitle"
    </legend>

    <dl class="dl-horizontal">

        <dt>Полное название</dt>
        <dd>@Html.DisplayFor(model => model.FullTitle)</dd>


        <dt>Авторы</dt>
        <dd>@Html.DisplayFor(model => model.Author)</dd>


        <dt>Дата создания</dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)</dd>


        <dt>Размер файла</dt>
        <dd>@Html.DisplayFor(model => model.FileSize) байт</dd>


        <dt>Расширение</dt>
        <dd>@Html.DisplayFor(model => model.Extension)</dd>

        
        <dt>Формат документа</dt>
        <dd>@Html.DisplayFor(model => model.Format)</dd>

        <dt>Аннотация</dt>
        <dd>@Html.DisplayFor(model => model.Annotation)</dd>


       
         <!-- Правка названий -->

        <dt>Ключевые слова</dt>
        <dd>@Html.DisplayFor(model => model.Keywords)</dd>


        <dt>Соавторы</dt>
        <dd>@Html.DisplayFor(model => model.CoAuthor)</dd>

    </dl>
    <div class="form-actions">
        @Html.ActionLink("Скачать", "DownloadFile", "Doc", new { id = Model.ID },
                new { @class = "btn btn-primary" })
        @Html.ActionLink("Просмотр", "GetPDF", "Doc", new { id = Model.ID },
                new { @class = "btn btn-primary" })
        <button type="button" class="btn" onclick="history.back()">Назад</button>
    </div>
</fieldset>

