@model DomainModel.Entity.Document

@{
    ViewBag.Title = "DownloadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DownloadFile</h2>

<fieldset>
    <legend>Document</legend>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
           

        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>


        <dt> @Html.DisplayNameFor(model => model.Type)</dt>
        <dd> @Html.DisplayFor(model => model.Type)</dd>


        <dt>@Html.DisplayNameFor(model => model.Author)</dt>
        <dd>@Html.DisplayFor(model => model.Author)</dd>


        <dt> @Html.DisplayNameFor(model => model.CreateDate)</dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)</dd>


        <dt>@Html.DisplayNameFor(model => model.FileSize)</dt>
        <dd>@Html.DisplayFor(model => model.FileSize)</dd>


        <dt>@Html.DisplayNameFor(model => model.Extension)</dt>
        <dd>@Html.DisplayFor(model => model.Extension)</dd>


        <dt>@Html.DisplayNameFor(model => model.Format)</dt>
        <dd>@Html.DisplayFor(model => model.Format)</dd>


    </dl>
        
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
