@{
    ViewBag.Title = "О ресурсе · Каталоги ТПУ";
}

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span7">
                <hgroup class="title">
                    <h1>О ресурсе</h1>
                    <h2>Каталоги ТПУ</h2>
                </hgroup>
                <article>
                    <p>
                        Данный сервис является результатом выпускной квалификационной работы на соискание степени бакалавра и запущен в тестовом режиме. В ближайшем времени планируется отладка приложения
                        и расширение базового функционала. Разработано студентом А.В. Распоповым под руководством к.т.н. В.С. Шерстнева.
                    </p>
                    <p>
                        Ресурс предоставляет редкий и уникальный исследовательский материал, 
                        состоящий  из объединенных в каталог более 5000 научных документов. В базе данных вы можете обнаружить 
                        запасы научной технической библиотеки Томского политехнического университета​​. Сотрудники и студенты ТПУ 
                        используют этот ресурс для того, чтобы быстро и легко найти необходимые учебные материалы и 
                        проверить информацию о документах. 
                    </p>
                    <p>
                        Функция поиска означает, что вы ищете широкую и разнообразную коллекцию документов 
                        Томского политехнического университета. Поиск осуществляется через взаимодействие приложения
                        с Oracle Universal Content Management System, и происходит по содержимому сервера контента. 
                        Также ресурс предлагает возможность поиска внутри документов - полнотекстовый поиск. 
                        Функция полнотекстового поиска обладает исключительной возможностью поиска 
                        по содержимому документов.
                    </p>
                </article>
            </div>
            <div class="span5">
                <aside class="pull-right">
                    <h3>Меню</h3>
                    <p>
                        Вы можете пройти по следующим ссылкам:
                    </p>
                    <ul>
                        <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                        <li>@Html.ActionLink("Простой поиск", "Simple", "Search")</li>
                        <li>@Html.ActionLink("Полнотекстовый поиск", "FullText", "Search")</li>
                        <li>@Html.ActionLink("Каталог по авторам", "CatalogByAuthor", "Search")</li>
                        <li>@Html.ActionLink("Каталог по названиям", "CatalogByTitle", "Search")</li>
                        <li>@Html.ActionLink("О ресурсе", "About", "Home")</li>
                        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    </ul>
                </aside>

            </div>
        </div>
    </div>
</div>
    





