@{
    ViewBag.Title = "О ресурсе";
}

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span7">
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
                <article>
                    <p>
                        Copac предоставляет редкий и уникальный исследовательский материал, объединив каталоги более 70 крупных британских и ирландских библиотек. В одном поиска вы можете обнаружить запасы национальных библиотек Великобритании (в том числе Британская библиотека)​​, многие библиотеки университета и библиотеки специалист исследования. Ученые и преподаватели Copac использовать, чтобы сэкономить время в своих исследованиях, чтобы быстро и легко обнаружить и найти ресурсы, чтобы проверить данные документов, обзор материалов в своей области, и оценка редкости материалов и т.д. Информация доверие профессионалов Copac, чтобы дать им доступ к уникальный бассейн высококачественных библиографической информации.


                    </p>

                    <p>
                        Поиск Copac означает, что вы ищете широкий и разнообразный спектр библиотечных каталогов, из коллекции Оксфордского и Кембриджского университетов в библиотеки в Национальный фонд и Кью ботанического сада. Авторы Copac автора охватывают весь диапазон от консерваторий к каталогам из главных России и Восточной Европе коллекций в стране. Мы добавляем несколько библиотек все время, и мы недавно добавили Ближнем библиотеки Храма и механический институт инженеров библиотеки, которая будет означать, что Copac будет охватывать еще более предметам и специальностям.
                    </p>

                    <p>
                        Команда Copac проконсультироваться с библиотекарей и пользователей для того, чтобы развивать сервис, и регулярно заниматься с нашими ключевыми заинтересованными сторонами, такими как RLUK, КНСО Инновации, CILIP, и других стратегических органов. Многие из новых функций Copac находятся в результате обратной связи с пользователем. В результате разговора с информацией профессионалов, мы обнаружили, что Copac используется в повседневной многих библиотек. Он используется для облегчения работы в различных функций, в том числе каталогизации и межбиблиотечного абонемента.
                    </p>
                </article>
            </div>
            <div class="span5">
                <aside class="pull-right">
                    <h3>Меню</h3>
                    <p>
                        Вы можете пройти по следующим ссылкам:
                    </p>
                    <ul>
                        <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                        <li>@Html.ActionLink("О программе", "About", "Home")</li>
                        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    </ul>
                </aside>

            </div>
        </div>
    </div>
</div>
    





