@{
    ViewBag.Title = "Домашняя страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Информация информация информация информация информация информация информация
                 информация информация информация информация информация информация информация информация
                 информация информация информация информация информация информация информация информация.
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="/Doc/Search" >Перейти к поиску</a>
            </p>
        </div>
    </section>
}
<h3>Доступные сервисы:</h3>
<ol class="round">
    <li class="one">
        <h5>Информация о документе</h5>
        @Html.ActionLink("Проверить", "About", "Doc", new { id = 1 }, null)
    </li>

    <li class="two">
        <h5>Мета-данные о документе</h5>
        @Html.ActionLink("Проверить", "ViewMeta", "Doc")
    </li>

    <li class="three">
        <h5>Скачать документ</h5>
        @Html.ActionLink("Проверить","DownloadFile", "Doc",
                            new { id = 1 }, null )
    </li>

    <li class="four">
        <h5>Поиск документов</h5>
        @Html.ActionLink("Проверить","LetterSearch","Doc")
    </li>
</ol>
