@{
    ViewBag.Title = "Домашняя страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Для получения дополнительных сведений о ASP.NET MVC посетите веб-сайт 
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                На странице представлены <mark>видеоматериалы, учебники и образцы кода</mark> , позволяющие лучшим образом использовать ASP.NET MVC.
                По всем вопросам об ASP.NET MVC обращайтесь на
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">наши форумы</a>.
            </p>
        </div>
    </section>
}
<h3>Доступные сервисы:</h3>
<ol class="round">
    <li class="one">
        <h5>Информация о документе</h5>
        @Html.ActionLink("Проверить", "About", "Doc", new { id = 1 }, null)
    </li>

    <li class="two">
        <h5>Мета-данные о документе</h5>
        @Html.ActionLink("Проверить", "", "")
    </li>

    <li class="three">
        <h5>Скачать документ</h5>
        @Html.ActionLink("Проверить","DownloadFile", "Doc",
                            new { id = 1 }, null )
    </li>

    <li class="four">
        <h5>Поиск документов</h5>
        @Html.ActionLink("Проверить","AdvancedSearch","Doc")
    </li>
</ol>
