    <!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="description" content="Каталог научных исследовательских документов ТПУ. Труды сотрудников ТПУ." />
        @if (IsSectionDefined("Keywords"))
        { 
            @RenderSection("Keywords")
        }
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />


        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/bootstrap")

        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
    </head>

    <body>
        <!-- Меню
        ================================================== -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/Home/Index">Каталогизация</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("По названию", "CatalogByTitle", "Search")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("По автору", "CatalogByAuthor", "Search")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Поиск <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Простой поиск", "Simple", "Search")</li>
                                     <li class="divider"></li>
                                    <li>@Html.ActionLink("Полнотекстовый поиск", "FullText", "Search")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                            <li>@Html.ActionLink("О ресурсе", "About", "Home")</li>
                            
                        </ul>
                        <form class="navbar-form pull-right" method="post" action="/Search/Simple">
                            <div class="input-append">
                                 <input type="text" class="span3" name="q" placeholder="Простой поиск">
                                 <button type="submit" class="btn"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            @if (IsSectionDefined("featured"))
            {
                <div class="hero-unit">
                    @RenderSection("featured", required: false)
                </div>
            }
            @RenderBody()

            <hr>
            
            <div id="footer">
                <div class="container">
                    <p class="muted credit">Copyright © 2013 Разработано для <a href="http://tpu.ru">ТПУ</a> Распоповым Александром.</p>
                </div>
            </div>

        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Script/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
       
        
        
        
        
        
        
                
        


